.sign-in-and-sign-up {
  width: 988px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.header {
  background-color: antiquewhite;
  width: 100%;
}
.main-title {
  margin-left: 750px;
  color: blue;
}
